
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Bebas Neue', cursive;
	background-color:  rgb(54, 56, 49);
	border-style: double;
	border-color: white;
	margin: 5%;
}

header {
	padding: 50px 15px 0px;

	
}

header h1 {
	color: rgb(161, 112, 112);
	font-size: 50px;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-weight: bold;
	text-shadow: 2px 2px black;

}

main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

section {
	padding: 15px;
}


.searchbox {
	
	width: 60%;
	padding: 15px;
	margin: 0 auto;
    display: block;

	border: none;
	outline: none;
	background: none;

	background-color: #EEE;
	border-radius: 25px;

	color: #53565A;
	font-size: 20px;
	font-weight: 300;

	box-shadow: 5px 10px black;

	transition: 0.4s ease-out;
}

.results {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.results .result {
	width: 33.333%;
	min-width: 250px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.results .result img {
	display: block;
	width: 100%;
	border-radius: 100px;
	box-shadow: 5px 10px black;
height: 100%;

	transition: transform .2s;
}

.result img:hover {
	transform: scale(1.1);
}

.results .result h3 {
	margin-top: 30px;
	color: rgb(161, 112, 112);
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
	background: white;
	flex: 1 1 100%;
	transition: 0.4s ease-out;
	border-radius: 15px;
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;
	text-align: center;
	box-shadow: 5px 10px black;
	height: 100px;
	line-height: 20px;
	
	 

}



.results .result:hover h3 {
	background:  rgb(161, 112, 112);
	color: #223343;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color:  rgb(54, 56, 49);

	overflow-y: scroll;
}

.popup .content {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px;
	color: black;
}

.popup .content h2 {
	font-size: 45px;
	font-weight: 600;
	color: rgb(161, 112, 112);
	text-shadow: 2px 2px black;
	text-decoration: underline white;

}
.popup .content h2 span {
	font-weight: 300;
	font-size: 30px;
}

.popup .content .rating {
	margin-bottom: 30px;
	font-size: 25px;
}

.popup .content .plot {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
	font-size: 30px;
	color: white;
	text-shadow: 2px 2px rgb(161, 112, 112);
}

.popup .plot {
	margin-left: 10%;
}

.popup .content .plot img {
	flex: 1 1 50%;
	max-width: 300px;
	border-radius: 100px;
	box-shadow: 5px 10px black;
height: 100%;

	transition: transform .2s;
}

.plot img:hover {
	transform: scale(1.1);
}









.popup .content .plot p {
	flex: 1 1 50%;
	padding: 15px;
	margin-left: 5%;
}

.popup .content .close {
	
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;

	background: white;
	color: rgb(161, 112, 112);;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	box-shadow: 5px 10px black;
	border-radius: 15px;
	transition: 0.4s ease-out;
margin-right: 4%;
float: right;
}

.popup .content .close:hover {
	background: rgb(161, 112, 112);
	color: white;
}

